{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Авторизация</h2>
          <div class="container-body">
           {% for cat, msg in get_flashed_messages(True) %}
              <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}
            <form action="" method="post">
               {{ form.hidden_tag() }}
              <br> {{ form.email.label() }} <br> {{form.email() }}
              <br> {{ form.password.label() }} <br> {{form.password() }}
              <br> {{ form.submit() }}
            </form>
</div>
{% endblock %}
