{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Регистрация</h2>
          <div class="container-body">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  <ul>
                    {% for message in messages %}
                      <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% endwith %}
            <form action="" method="post">
              <label for="fullname">ФИО:</label>
              <br>
              <input type="text" id="fullname" name="fullname" placeholder="Фамилия Имя Отчествно" required>
              <br>
              <label for="email">Email:</label>
              <br>
              <input type="email" id="email" name="email" placeholder="Email адрес" required>
              <br>
              <label for="password">Пароль:</label>
              <br>
              <input type="password" id="password" name="password" placeholder="Пароль" min="8" max="12" required>
              <br>
              <input type="submit" value="Регистрация">
            </form>
</div>
{% endblock %}
