{% extends 'base_activities.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Записать</h3>
          </div>
          <div class="card-body">
            {% for cat, msg in get_flashed_messages(True) %}
              <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
              <div class="mb-3">
                  {{ form.type.label() }} {{ form.type() }} &nbsp
                  {{ form.duration.label() }} {{ form.duration() }} &nbsp
                  {{ form.url.label()}} {{ form.url() }} &nbsp
                <br>
                {{ form.description.label() }} <br> {{form.description(cols="92", rows ="3")}}
                <br> {{ form.submit() }}
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row justify-content-center mt-2">
      <div class="col-xl-15">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Состоявшаяся работа</h3>
          </div>
          <div class="card-body">

            <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Время</th>
            <th>Тип работы</th>
            <th>Минут</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for work in works %}
        <tr>
            <td>{{ work.completed_in }}</td>
            <td><a href={{work.url}}>{{ work.activity_id }}</a></td>
            <td>{{ work.duration_in_minutes }}</td>
            <td> {{ work.description }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
